body
{
	background:#f6f6f6
}
body.front,
.about-us #block-views-banner-block,
.promotions #block-views-banner-block,
.about-us #block-views-member-profile-block,
.toggle_menu_btn span,
.toggle_menu_btn span:before,
.toggle_menu_btn span:after,
.about-us #block-views-member-profile-block .content,
.about-us #block-block-1,
.about-us .home_block5,
#block-zendesk-forms-zendesk-contact-us,
.our_office_block,
.after-contactus-submit,
.about-us #block-block-2,
.view-id-why_singapore_life .views-row-even,
body.holding-page,
.claims .reach_us_block,
.claims .region-featured-video,
.promo,
body.product,
.product_page_popup
{
	background:#fff;
}
#header{background: #000;}

.quote_link a,
.footer_block2 .quote,
.btn_block a,
.quote_btn a,
#zendesk-forms-support-form .form-submit,
input[type='submit'],
button,
.reach_us_block .reach_us li .box,
#webform-ajax-wrapper-74 .links a,
.product .view-product-accordian .ui-state-default,
.more-btn a
{
background:#f41333;
}
.btn_block .primaury-btn:hover,
.quote_btn a:hover,
#zendesk-forms-support-form .form-submit:hover,
input[type='submit']:hover,button:hover,
#webform-ajax-wrapper-74 .links a:hover,
{
background:#a90720;	
}
.quote_link a:hover,.footer_block2 .quote:hover,.promotions .qualifying_block{
background:#474747;	
}

#block-menu-menu-main-menu-mobile{
	background: #000;
}


#footer-wrapper{background:#5a5a5a;}
#zendesk-forms-support-form .form-item-subject .select2-dropdown{
background:#fafafa;
}
#zendesk-forms-support-form .form-item-subject .select2-container--default .select2-results__option--highlighted[aria-selected]{
background-color:#f41333	
}
